html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

.navigation {
  background-image: url('./images/mtb_sky.jpeg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-bottom: 10px solid #e04444;
  margin-bottom: 5px;
  
}

img.headerLogo {
  height: 175px;
  margin-left: 100px;
  padding: 10px;
  
}

.linkNav {
  margin-left: auto;
  margin-right: 40px;
  
}

.homeNav {
padding: 30px;
}

a.homeNav {
  text-decoration: none;
  color: white;
  font-family: Cubano;
  font-size: xx-large;
  margin-right: 5px;
  margin-left: 5px;
}
a.homeNav:hover {
  color: #e04444;
}

a.authButton {
  color: white;
  font-family: Cubano;
  font-size: xx-large;
  margin-left: 15px;
  margin-right: 10px;
  text-decoration: none;
  padding:30px;
}

a.authButton:hover {
  color: #e04444;

}

@media screen and (max-width: 400px) {

  img.headerLogo {
    margin-left: 10px;
    height: 125px;
  }

  .homeNav {
    padding:10px;
  }
  a.authButton {
   padding:10px;
   margin-left:5px;

  }

}