.catBtn {
    background-color: transparent;
    color: #e04444;
    border: none;
    border-bottom: 3px solid #e04444;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;
}

div.sideBarCard {
    margin: 0;
    border: 5px solid #e04444;
    border-radius: 25px;
    overflow: hidden;
}

div.categoryHeader {
    background-color: #e04444;
    color: white;
    text-align: center;
    font-family: Cubano;
    font-size: large;
  }

  a.sideBarRefs {
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
    color: #e04444;
  }
  a.sideBarRefs:hover {
    color: #000;
  }